@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["StatusMessage"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />