@model EditPieViewModel
@{
    ViewBag.Title = "Edit pie";
    string photoPath = null;
    if (Model.ExistingImageFilePath != null)
    {
        photoPath = "~/images/" + Model.ExistingImageFilePath;
    }
}
<form enctype="multipart/form-data" asp-action="Edit" asp-controller="Pie" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <input type="hidden" asp-for="ExistingImageFilePath" />
    </div>
    <div class="form-group">
        <label asp-for="Name" class="control-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ShortDescription" class="control-label">Short description</label>
        <input type="text" asp-for="ShortDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="LongDescription" class="control-label">Long description</label>
        <input type="text" asp-for="LongDescription" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AllergyInfo" class="control-label">Allergy info</label>
        <input type="text" asp-for="AllergyInfo" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price" class="control-label">Price</label>
        <input type="text" asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ImageFile" class="control-label">File image</label>
        <input type="file" asp-for="ImageFile" class="form-control" />
    </div>
    @if (photoPath != null)
    {
        <div class="form-group">
            <h4 class="text-info">Previous image:</h4>
            <div class="thumbnail center-block img-delails">
                <img src="@photoPath" asp-append-version="true" />
            </div>
        </div>
    }
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">Image (url)</label>
        <input type="url" asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="IsPieOfTheWeek" class="control-label">Is it pie of the week?</label>
        <input type="checkbox" asp-for="IsPieOfTheWeek" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="InStock" class="control-label">Is it in stock?</label>
        <input type="checkbox" asp-for="InStock" class="form-control" />
    </div>
    <hr />
    <div class="form-group">
        <label asp-for="CategoryId" class="control-label">Category</label>
        <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></select>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-outline-secondary" />
    </div>
</form>
