@{
    ViewBag.Title = "404 Error";
}

<h1>Oops... The pie you are searching for is not found :(</h1>
<h3>But why don't you click <a asp-controller="Home" asp-action="Index">here</a> and have a look at other items!</h3>