<li class="dropdown">
    <a asp-controller="Pie"
       asp-action="Index"
       class="dropdown-toggle" data-toggle="dropdown">Admin Panel</a>
    <ul class="dropdown-menu">
        <li>
            <a asp-controller="Pie" asp-action="Index">Manage pies</a>
        </li>
        <li>
            <a asp-controller="Users" asp-action="Index">Manage users</a>
        </li>
        <li>
            <a asp-controller="Roles" asp-action="Index">User's roles</a>
        </li>
    </ul>
</li>
