@{
    ViewBag.Title = "Error";
}

<div class="jumbotron">
    <h1 class="display-4">404</h1>
    <p class="lead">@ViewBag.Message</p>
</div>
<h3>But why don't you click <a asp-controller="Home" asp-action="Index">here</a> and have a look at our items!</h3>
