<h3>Oops... Something went wrong :(</h3>
<h5>Please, contact us on eleonoragalieva2001@gmail.com</h5>
<hr />
<div class="alert alert-danger">
    <h5>Exception message:</h5>
    <hr />
    <p>@ViewBag.ExceptionMessage</p>
</div>